body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  background-color: #f8f6f4;
}

.title {
  text-align: center;
  font-size: 25px;
  color: white;
  margin: 75px 6% 0 0;
  font-weight: 400;
  color: #df6333;
}

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 15px auto 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px 4px 0 0;
  //padding: 15px;
  input {
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    border: 1px solid #dee0e4;
    margin: 2px 15px 15px 15px;
  }
  label {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
    margin: 15px;
    color: #df6333;
  }

  button {
    border: none;
    border-radius: 0 0 4px 4px;
    padding: 15px 25px;
    margin-top: 55px;
    text-transform: uppercase;
    background-color: #df6333;
    color: #f5f5f5;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: #b63f10;
      transition: background-color 0.2s;

      //box-shadow: 0 2px #b4b4b4;
    }
  }
}
