@import "./variables";
body {
  font-family: $txtFont;
  background-color: #303030;
  margin: 0;

  footer {
    justify-content: center;
    display: flex;
    background-color: rgb(30, 50, 68);
    margin: 5%;
    li {
      list-style-type: none;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.555);
    }
    .title {
      font-family: $titleFont;
      color: white;
      font-weight: 400;
    }
    .topRows {
      display: flex;
      line-height: 32px;
    }
    .bottom {
      display: flex;
      line-height: 32px;
      margin-top: 3%;
      text-decoration: none;
      .search {
        background: transparent;
        border: none;
        height: 10px;
        margin-left: 3%;
        padding-top: 25px;
        border-bottom: 1px solid gray;
        color: white;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 1150px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
  .imgDjab {
    width: 270px;
    margin-left: 2%;
  }
  .marginUl {
    margin-left: 3%;
  }
}
@media only screen and (max-width: 850px) {
  .topRows {
    flex-direction: column;
    width: 450px;
  }
  .bottom {
    flex-direction: column;
    width: 450px;
  }
}
