@import "./variables";

body {
  margin: 0;
  font-family: sans-serif;
  .first {
    display: flex;
    align-items: center;
    h3 {
      margin: 1%;
      flex-grow: 1;
    }
    img {
      padding-left: 1rem;
      width: 0.5rem;
    }
  }
  .second {
    height: 20rem;
    display: flex;
    flex-flow: column wrap;
    .block {
      width: 50%;
      img {
        width: 12%;
        border-radius: 50%;
      }
    }
  }
}

h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  padding: 1rem 2rem;
  .more {
    font-size: smaller;
    color: gray;
  }
  .date {
    font-size: smaller;
    color: gray;
  }
  .name {
    font-size: smaller;
    margin-bottom: 1%;
  }
}

.img {
  display: flex;
  align-items: center;
  .data {
    margin-left: 5%;
  }
}

hr {
  height: 1px;
  background-color: #aaaaaa;
  border: none;
}

@media screen and (min-width: 1225px) {
  div.second {
    height: 30rem;
  }
}

@media screen and (min-width: 775px) and (max-width: 1225px) {
  div.second {
    height: 25rem;
  }
}

@media screen and (max-width: 775px) {
  div.second {
    flex-wrap: nowrap;
    .block {
      width: 100%;
    }
  }
}
